# ENVIRONMENT
ENV=release

# ACCESS
SERVER_PORT=9000

# AUTHENTICATION - Credentials
TOKEN_TTL="1800"
SIGNING_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# DATABASE INFORMATION
DB_USERNAME=admin
DB_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
DB_HOST=localhost
DB_NAME=database
DB_PORT=5432
DB_DRIVER=postgres
SSLMODE=disable

# ADMINISTRATION - Default Admin User
ADMIN_USERNAME="<<ADMIN_USERNAME>>"
ADMIN_EMAIL="<<ADMIN_EMAIL>>"
ADMIN_PASSWORD="<<ADMIN_PASSWORD>>"

# AWS KEYS
AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AWS_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AWS_REGION=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# OTP KEYS
OTP_SOURCE_MAIL=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# LOGGING AND MONITORING
PAPERTRAIL=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
PAPERTRAIL_APP_NAME="Swiftfiat Backend"

# THIRD_PARTY KEYS - KYC
KYC_PROVIDER_NAME="DOJAH"
DOJAH_KEY=XXXXXXXXXXXXXXXXXXXXXXXXX
DOJAH_APP_ID=XXXXXXXXXXXXXXXXXXXXXXXXX
DOJAH_BASE_URL=https://www.dojah.com

GIFTCARD_PROVIDER_NAME="RELOADLY"
GIFTCARD_KEY=XXXXXXXXXXXXXXXXXXXXXXXXX
GIFTCARD_APP_ID=XXXXXXXXXXXXXXXXXXXXXXXXX
GIFTCARD_BASE_URL="https://XXXXXXXXXX.XXXXXXXX.com"
GIFTCARD_AUTH_URL="https://XXXX.XXXXXXXXX.XXX/oauth/token"
# These PROD Values are required to ensure syncing of cards on Dev is possible
# RELOADLY returns an empty list in their sandbox environment
GIFTCARD_PROD_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXX
GIFTCARD_PROD_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXX
GIFTCARD_PROD_URL="XXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# BITGO
CRYPTO_PROVIDER_NAME="BITGO"
BITGO_PORT=3080
BITGO_HOST=localhost
BITGO_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
BITGO_ENTERPRISE=XXXXXXXXXXXXXXXXXXXXXXXXX
BITGO_WALLET_PASSKEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# COINGECKO
RATES_PROVIDER_NAME="COINGECKO"
COINGECKO_BASE_URL="https://api.xxxxxxxxxxx.com/api/v3/xxxx"
COINGECKO_ACCESS_KEY=""

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=   # Leave empty if no password is set (NOT IN PRODUCTION PLEASE)

# FCM Config
GOOGLE_APPLICATION_CREDENTIALS="/home/user/path/to/serviceAccountKey.json"

# FIAT PROVIDER - Paystack
FIAT_PROVIDER_NAME="PAYSTACK"
PAYSTACK_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
PAYSTACK_BASE_URL=https://api.paystack.co

# VT PASS
BILL_PROVIDER_NAME="VTPASS"
VT_BASE_URL="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
VT_PASS_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
VT_PASS_PK="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
VT_PASS_SK="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

#COMPANY DETAILS
EMAIL="xxxx@xmail.com"
PHONE=XXXXXXXXXX
COUNTRYCODE=NG

# REFERRAL CONFIGURATION
REFERRAL_COMMISSION="1000"
REFERRAL_WITHDRAWAL_THRESHOLD="100000"

# CRYPTOMUS
CRYPTOMUS_PROVIDER_NAME="CRYPTOMUS"
CRYPTOMUS_BASE_URL="https://api.cryptomus.com/v1"
CRYPTOMUS_MERCHANT_ID="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
CRYPTOMUS_API_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
CRYPTOMUS_CALLBACK_URL="https://api.cryptomus.com/v1/merchant/callback"

# COINRANKING
COIN_DATA_PROVIDER_NAME="COINRANKING"
COINRANKING_BASE_URL="XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
COINRANKING_ACCESS_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# Twilio
TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_VERIFY_SERVICE_SID=your_verify_service_sid

PLUNK_API_KEY=pk_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
Plunk_Secret_Key=sk_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
PLUNK_BASE_URL=https://api.useplunk.com/v1